In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import plotly.express as px

In [3]:
df = pd.read_csv("/Users/jason/Documents (Mac)/DE data/filtered_data.csv")

/var/folders/4r/0r_9q19d30d02mbxyh2d_m7w0000gn/T/ipykernel_58655/1093374122.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/jason/Documents (Mac)/DE data/filtered_data.csv")

In [37]:
print("\n--- Dataset Info ---")
df.info()

# Display basic statistics of numerical columns
print("\n--- Numerical Statistics ---")
print(df.describe())

# Display the first 20 rows
print("\n--- First Last 20 Rows ---")
print(df.head(20))
print(df.tail(20))

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52695282 entries, 0 to 52695281
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   time_id              object
 1   transit_mode         object
 2   station_complex_id   object
 3   station_complex      object
 4   borough              object
 5   payment_method       object
 6   fare_class_category  int64
 7   ridership            int64
 8   transfers            int64
 9   latitude             float64
 10  longitude            float64
dtypes: float64(2), int64(3), object(6)
memory usage: 4.3+ GB

--- Numerical Statistics ---
       fare_class_category     ridership     transfers      latitude  \
count         5.269528e+07  5.269528e+07  5.269528e+07  5.269528e+07
mean          4.273945e+00  4.430394e+01  1.860902e+00  4.073229e+01
std           2.289593e+00  1.415217e+02  1.151619e+01  7.834887e-02
min           1.000000e+00  1.000000e+00  0.000000e+00  4.057613e+01
25%           2.000000e+00  4.000000e+00  0.000000e+00  4.067732e+01
50%           4.000000e+00  1.200000e+01  0.000000e+00  4.072433e+01
75%           6.000000e+00  3.600000e+01  1.000000e+00  4.079164e+01
max           1.000000e+01  1.403600e+04  1.178000e+03  4.090313e+01

          longitude
count  5.269528e+07
mean  -7.393515e+01
std    5.616036e-02
min   -7.407484e+01
25%   -7.398123e+01
50%   -7.394748e+01
75%   -7.389923e+01
max   -7.375540e+01

--- First Last 20 Rows ---
          time_id transit_mode station_complex_id  \
0   2024-06-30-10       subway                209
1   2024-06-30-10       subway                221
2   2024-06-30-10       subway                110
3   2024-06-30-10       subway                177
4   2024-06-30-10       subway                434
5   2024-06-30-10       subway                155
6   2024-06-30-10       subway                208
7   2024-06-30-10       subway                210
8   2024-06-30-10       subway                151
9   2024-06-30-10       subway                114
10  2024-06-30-10       subway                119
11  2024-06-30-10       subway                216
12  2024-06-30-10       subway                123
13  2024-06-30-10       subway                141
14  2024-06-30-10       subway                 65
15  2024-06-30-10       subway                624
16  2024-06-30-10       subway                436
17  2024-06-30-10       subway                147
18  2024-06-30-10       subway                628
19  2024-06-30-10       subway                441

                                      station_complex    borough  \
0                            Far Rockaway-Mott Av (A)     Queens
1                              21 St-Queensbridge (F)     Queens
2                                       Forest Av (M)     Queens
3                          Clinton-Washington Avs (C)   Brooklyn
4                                   3 Av-149 St (2,5)      Bronx
5                       Cathedral Pkwy (110 St) (C,B)  Manhattan
6                                     Beach 25 St (A)     Queens
7                                  Norwood-205 St (D)      Bronx
8                                    145 St (A,C,B,D)  Manhattan
9                                      Central Av (M)   Brooklyn
10                                           1 Av (L)  Manhattan
11                                  174-175 Sts (B,D)      Bronx
12                                       Grand St (L)   Brooklyn
13                                        Park Pl (S)   Brooklyn
14                                          79 St (D)   Brooklyn
15  Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortla...  Manhattan
16                                  Harlem-148 St (3)  Manhattan
17                                         175 St (A)  Manhattan
18                        Fulton St (A,C,J,Z,2,3,4,5)  Manhattan
19                  Central Park North (110 St) (2,3)  Manhattan

   payment_method  fare_class_category  ridership  transfers   latitude  \
0       metrocard                    5          5          0  40.603996
1       metrocard                    6         10          2  40.754204
2       metrocard                    2         74          9  40.704422
3       metrocard                    2          6          0  40.683260
4       metrocard                    7          4          1  40.816110
5       metrocard                    4         31          0  40.800602
6       metrocard                    3          3          0  40.600067
7       metrocard                    6         39          6  40.874810
8       metrocard                    2         43          2  40.824783
9       metrocard                    4         17          0  40.697857
10           omny                    1        405          1  40.730953
11      metrocard                    2         45          0  40.845900
12      metrocard                    4          4          0  40.711926
13      metrocard                    3          4          0  40.674770
14      metrocard                    5          2          0  40.613503
15      metrocard                    8          8          0  40.714110
16      metrocard                    6          9          0  40.823880
17           omny                    1          1          0  40.847390
18      metrocard                    2        796          5  40.710373
19      metrocard                    4         35          0  40.799076

    longitude
0  -73.755400
1  -73.942830
2  -73.903076
3  -73.965836
4  -73.917755
5  -73.958160
6  -73.761350
7  -73.878850
8  -73.944214
9  -73.927400
10 -73.981630
11 -73.910130
12 -73.940670
13 -73.957630
14 -74.000610
15 -74.008580
16 -73.936470
17 -73.939705
18 -74.006570
19 -73.951820
                time_id transit_mode station_complex_id  \
52695262  2024-06-30-10       subway                135
52695263  2024-06-30-10       subway                182
52695264  2024-06-30-10       subway                109
52695265  2024-06-30-10       subway                445
52695266  2024-06-30-10       subway                 44
52695267  2024-06-30-10       subway                143
52695268  2024-06-30-10       subway                114
52695269  2024-06-30-10       subway                162
52695270  2024-06-30-10       subway                144
52695271  2024-06-30-10       subway                176
52695272  2024-06-30-10       subway                126
52695273  2024-06-30-10       subway                107
52695274  2024-06-30-10       subway                107
52695275  2024-06-30-10       subway                127
52695276  2024-06-30-10       subway                153
52695277  2024-06-30-10       subway                442
52695278  2024-06-30-10       subway                438
52695279  2024-06-30-10       subway                 17
52695280  2024-06-30-10       subway                630
52695281  2024-06-30-10       subway                152

                   station_complex    borough payment_method  \
52695262            Livonia Av (L)   Brooklyn           omny
52695263              Ralph Av (C)   Brooklyn      metrocard
52695264         Fresh Pond Rd (M)     Queens      metrocard
52695265           Pelham Pkwy (5)      Bronx           omny
52695266           Church Av (B,Q)   Brooklyn           omny
52695267         Inwood-207 St (A)  Manhattan           omny
52695268            Central Av (M)   Brooklyn      metrocard
52695269               50 St (C,E)  Manhattan      metrocard
52695270            Dyckman St (A)  Manhattan      metrocard
52695271          Lafayette Av (C)   Brooklyn      metrocard
52695272          Jefferson St (L)   Brooklyn           omny
52695273            Broad St (J,Z)  Manhattan      metrocard
52695274            Broad St (J,Z)  Manhattan      metrocard
52695275             DeKalb Av (L)   Brooklyn      metrocard
52695276          125 St (A,C,B,D)  Manhattan      metrocard
52695277   Eastchester-Dyre Av (5)      Bronx      metrocard
52695278              135 St (2,3)  Manhattan      metrocard
52695279           Prince St (R,W)  Manhattan      metrocard
52695280  Myrtle-Wyckoff Avs (L,M)   Brooklyn      metrocard
52695281              135 St (C,B)  Manhattan           omny

          fare_class_category  ridership  transfers   latitude  longitude
52695262                    1         25          6  40.664040 -73.900570
52695263                    4          3          0  40.678820 -73.920784
52695264                    5         10          0  40.706184 -73.895874
52695265                    1         17          0  40.858986 -73.855360
52695266                    1        138         12  40.650528 -73.962980
52695267                    1          3          0  40.868073 -73.919900
52695268                    7          5          1  40.697857 -73.927400
52695269                    5         28          0  40.762455 -73.985985
52695270                    7         23          0  40.865490 -73.927270
52695271                    6          5          0  40.686110 -73.973946
52695272                    1        132          3  40.706608 -73.922910
52695273                    5          3          0  40.706474 -74.011055
52695274                    4         97          0  40.706474 -74.011055
52695275                    4         32          0  40.703810 -73.918430
52695276                    2        136         10  40.811108 -73.952350
52695277                    5          1          0  40.888300 -73.830830
52695278                    5          6          0  40.814228 -73.940770
52695279                    5          5          0  40.724330 -73.997700
52695280                    7         21          5  40.699814 -73.911580
52695281                    1         46          0  40.817894 -73.947650

In [38]:
# Drop specified columns and keep all others
_df = df.drop(['station_complex', 'latitude', 'longitude'], axis=1)

# Save to CSV
_df.to_csv('filtered_final.csv', index=False)

print("Columns in the new DataFrame:")
print(_df.columns.tolist())

Columns in the new DataFrame:
['station_complex_id', 'station_complex', 'latitude', 'longitude']

In [6]:

df['transit_timestamp'] = pd.to_datetime(df['transit_timestamp'])

# Then format it to the desired format
df['transit_timestamp'] = df['transit_timestamp'].dt.strftime('%Y-%m-%d-%H')

# Alternatively, you could also rename it to time_id if needed
df = df.rename(columns={'transit_timestamp': 'time_id'})

In [7]:
print("\n--- Dataset Info ---")
df.info()

# Display basic statistics of numerical columns
print("\n--- Numerical Statistics ---")
print(df.describe())

# Display the first 20 rows
print("\n--- First Last 20 Rows ---")
print(df.head(20))
print(df.tail(20))

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52695282 entries, 0 to 52695281
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   time_id              object
 1   transit_mode         object
 2   station_complex_id   object
 3   station_complex      object
 4   borough              object
 5   payment_method       object
 6   fare_class_category  object
 7   ridership            int64
 8   transfers            int64
 9   latitude             float64
 10  longitude            float64
dtypes: float64(2), int64(2), object(7)
memory usage: 4.3+ GB

--- Numerical Statistics ---
          ridership     transfers      latitude     longitude
count  5.269528e+07  5.269528e+07  5.269528e+07  5.269528e+07
mean   4.430394e+01  1.860902e+00  4.073229e+01 -7.393515e+01
std    1.415217e+02  1.151619e+01  7.834887e-02  5.616036e-02
min    1.000000e+00  0.000000e+00  4.057613e+01 -7.407484e+01
25%    4.000000e+00  0.000000e+00  4.067732e+01 -7.398123e+01
50%    1.200000e+01  0.000000e+00  4.072433e+01 -7.394748e+01
75%    3.600000e+01  1.000000e+00  4.079164e+01 -7.389923e+01
max    1.403600e+04  1.178000e+03  4.090313e+01 -7.375540e+01

--- First Last 20 Rows ---
          time_id transit_mode station_complex_id  \
0   2024-06-30-10       subway                209
1   2024-06-30-10       subway                221
2   2024-06-30-10       subway                110
3   2024-06-30-10       subway                177
4   2024-06-30-10       subway                434
5   2024-06-30-10       subway                155
6   2024-06-30-10       subway                208
7   2024-06-30-10       subway                210
8   2024-06-30-10       subway                151
9   2024-06-30-10       subway                114
10  2024-06-30-10       subway                119
11  2024-06-30-10       subway                216
12  2024-06-30-10       subway                123
13  2024-06-30-10       subway                141
14  2024-06-30-10       subway                 65
15  2024-06-30-10       subway                624
16  2024-06-30-10       subway                436
17  2024-06-30-10       subway                147
18  2024-06-30-10       subway                628
19  2024-06-30-10       subway                441

                                      station_complex    borough  \
0                            Far Rockaway-Mott Av (A)     Queens
1                              21 St-Queensbridge (F)     Queens
2                                       Forest Av (M)     Queens
3                          Clinton-Washington Avs (C)   Brooklyn
4                                   3 Av-149 St (2,5)      Bronx
5                       Cathedral Pkwy (110 St) (C,B)  Manhattan
6                                     Beach 25 St (A)     Queens
7                                  Norwood-205 St (D)      Bronx
8                                    145 St (A,C,B,D)  Manhattan
9                                      Central Av (M)   Brooklyn
10                                           1 Av (L)  Manhattan
11                                  174-175 Sts (B,D)      Bronx
12                                       Grand St (L)   Brooklyn
13                                        Park Pl (S)   Brooklyn
14                                          79 St (D)   Brooklyn
15  Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortla...  Manhattan
16                                  Harlem-148 St (3)  Manhattan
17                                         175 St (A)  Manhattan
18                        Fulton St (A,C,J,Z,2,3,4,5)  Manhattan
19                  Central Park North (110 St) (2,3)  Manhattan

   payment_method               fare_class_category  ridership  transfers  \
0       metrocard                 Metrocard - Other          5          0
1       metrocard             Metrocard - Fair Fare         10          2
2       metrocard             Metrocard - Full Fare         74          9
3       metrocard             Metrocard - Full Fare          6          0
4       metrocard  Metrocard - Seniors & Disability          4          1
5       metrocard      Metrocard - Unlimited 30-Day         31          0
6       metrocard       Metrocard - Unlimited 7-Day          3          0
7       metrocard             Metrocard - Fair Fare         39          6
8       metrocard             Metrocard - Full Fare         43          2
9       metrocard      Metrocard - Unlimited 30-Day         17          0
10           omny                  OMNY - Full Fare        405          1
11      metrocard             Metrocard - Full Fare         45          0
12      metrocard      Metrocard - Unlimited 30-Day          4          0
13      metrocard       Metrocard - Unlimited 7-Day          4          0
14      metrocard                 Metrocard - Other          2          0
15      metrocard              Metrocard - Students          8          0
16      metrocard             Metrocard - Fair Fare          9          0
17           omny                  OMNY - Full Fare          1          0
18      metrocard             Metrocard - Full Fare        796          5
19      metrocard      Metrocard - Unlimited 30-Day         35          0

     latitude  longitude
0   40.603996 -73.755400
1   40.754204 -73.942830
2   40.704422 -73.903076
3   40.683260 -73.965836
4   40.816110 -73.917755
5   40.800602 -73.958160
6   40.600067 -73.761350
7   40.874810 -73.878850
8   40.824783 -73.944214
9   40.697857 -73.927400
10  40.730953 -73.981630
11  40.845900 -73.910130
12  40.711926 -73.940670
13  40.674770 -73.957630
14  40.613503 -74.000610
15  40.714110 -74.008580
16  40.823880 -73.936470
17  40.847390 -73.939705
18  40.710373 -74.006570
19  40.799076 -73.951820
                time_id transit_mode station_complex_id  \
52695262  2024-06-30-10       subway                135
52695263  2024-06-30-10       subway                182
52695264  2024-06-30-10       subway                109
52695265  2024-06-30-10       subway                445
52695266  2024-06-30-10       subway                 44
52695267  2024-06-30-10       subway                143
52695268  2024-06-30-10       subway                114
52695269  2024-06-30-10       subway                162
52695270  2024-06-30-10       subway                144
52695271  2024-06-30-10       subway                176
52695272  2024-06-30-10       subway                126
52695273  2024-06-30-10       subway                107
52695274  2024-06-30-10       subway                107
52695275  2024-06-30-10       subway                127
52695276  2024-06-30-10       subway                153
52695277  2024-06-30-10       subway                442
52695278  2024-06-30-10       subway                438
52695279  2024-06-30-10       subway                 17
52695280  2024-06-30-10       subway                630
52695281  2024-06-30-10       subway                152

                   station_complex    borough payment_method  \
52695262            Livonia Av (L)   Brooklyn           omny
52695263              Ralph Av (C)   Brooklyn      metrocard
52695264         Fresh Pond Rd (M)     Queens      metrocard
52695265           Pelham Pkwy (5)      Bronx           omny
52695266           Church Av (B,Q)   Brooklyn           omny
52695267         Inwood-207 St (A)  Manhattan           omny
52695268            Central Av (M)   Brooklyn      metrocard
52695269               50 St (C,E)  Manhattan      metrocard
52695270            Dyckman St (A)  Manhattan      metrocard
52695271          Lafayette Av (C)   Brooklyn      metrocard
52695272          Jefferson St (L)   Brooklyn           omny
52695273            Broad St (J,Z)  Manhattan      metrocard
52695274            Broad St (J,Z)  Manhattan      metrocard
52695275             DeKalb Av (L)   Brooklyn      metrocard
52695276          125 St (A,C,B,D)  Manhattan      metrocard
52695277   Eastchester-Dyre Av (5)      Bronx      metrocard
52695278              135 St (2,3)  Manhattan      metrocard
52695279           Prince St (R,W)  Manhattan      metrocard
52695280  Myrtle-Wyckoff Avs (L,M)   Brooklyn      metrocard
52695281              135 St (C,B)  Manhattan           omny

                       fare_class_category  ridership  transfers   latitude  \
52695262                  OMNY - Full Fare         25          6  40.664040
52695263      Metrocard - Unlimited 30-Day          3          0  40.678820
52695264                 Metrocard - Other         10          0  40.706184
52695265                  OMNY - Full Fare         17          0  40.858986
52695266                  OMNY - Full Fare        138         12  40.650528
52695267                  OMNY - Full Fare          3          0  40.868073
52695268  Metrocard - Seniors & Disability          5          1  40.697857
52695269                 Metrocard - Other         28          0  40.762455
52695270  Metrocard - Seniors & Disability         23          0  40.865490
52695271             Metrocard - Fair Fare          5          0  40.686110
52695272                  OMNY - Full Fare        132          3  40.706608
52695273                 Metrocard - Other          3          0  40.706474
52695274      Metrocard - Unlimited 30-Day         97          0  40.706474
52695275      Metrocard - Unlimited 30-Day         32          0  40.703810
52695276             Metrocard - Full Fare        136         10  40.811108
52695277                 Metrocard - Other          1          0  40.888300
52695278                 Metrocard - Other          6          0  40.814228
52695279                 Metrocard - Other          5          0  40.724330
52695280  Metrocard - Seniors & Disability         21          5  40.699814
52695281                  OMNY - Full Fare         46          0  40.817894

          longitude
52695262 -73.900570
52695263 -73.920784
52695264 -73.895874
52695265 -73.855360
52695266 -73.962980
52695267 -73.919900
52695268 -73.927400
52695269 -73.985985
52695270 -73.927270
52695271 -73.973946
52695272 -73.922910
52695273 -74.011055
52695274 -74.011055
52695275 -73.918430
52695276 -73.952350
52695277 -73.830830
52695278 -73.940770
52695279 -73.997700
52695280 -73.911580
52695281 -73.947650

In [36]:
stations_df = stations_df[['station_complex_id', 'station_complex', 'latitude', 'longitude']].drop_duplicates(
    subset=['station_complex_id'],
    keep='first'  )

print("First few rows after removing duplicates:")
print(stations_df.head())

print("\nTotal number of unique stations:", len(stations_df))

# Verify no duplicates remain
print("\nNumber of duplicates remaining:", 
    stations_df['station_complex_id'].duplicated().sum())

First few rows after removing duplicates:
  station_complex_id             station_complex   latitude  longitude
0                209    Far Rockaway-Mott Av (A)  40.603996 -73.755400
1                221      21 St-Queensbridge (F)  40.754204 -73.942830
2                110               Forest Av (M)  40.704422 -73.903076
3                177  Clinton-Washington Avs (C)  40.683260 -73.965836
4                434           3 Av-149 St (2,5)  40.816110 -73.917755

Total number of unique stations: 854

Number of duplicates remaining: 0

In [ ]:
stations_df = df[[
    'station_complex_id',
    'station_complex',
    'latitude',
    'longitude'
]].drop_duplicates()

# Reset the index to have clean sequential indices
stations_df = stations_df.reset_index(drop=True)




# Create stations dataframe by grouping and taking mean of coordinates
stations_df = df.groupby(['station_complex_id', 'station_complex']).agg({
    'latitude': 'mean',  # takes average of latitude
    'longitude': 'mean'  # takes average of longitude
}).reset_index()

# Round coordinates to 6 decimal places for consistency
stations_df['latitude'] = stations_df['latitude'].round(6)
stations_df['longitude'] = stations_df['longitude'].round(6)

In [34]:


# Keep only the first occurrence of each station
stations_df = stations_df[['station_complex_id', 'station_complex', 'latitude', 'longitude']].drop_duplicates(
    subset=['station_complex_id', 'station_complex'],
    keep='first'
)

# Show the results
print("First few rows of cleaned stations data:")
print(stations_df.head())

# First show how many duplicates we have
print("Before cleaning - number of duplicate stations:")
print(df[['station_complex_id', 'station_complex']].duplicated().sum())



# Reset the index
stations_df = stations_df.reset_index(drop=True)

# Show the results
print("\nAfter cleaning - first few rows:")
print(stations_df.head())

print("\nTotal number of unique stations:", len(stations_df))

stations_df.to_csv('unique_stations.csv', index=False)

First few rows of cleaned stations data:
  station_complex_id             station_complex   latitude  longitude
0                209    Far Rockaway-Mott Av (A)  40.603996 -73.755400
1                221      21 St-Queensbridge (F)  40.754204 -73.942830
2                110               Forest Av (M)  40.704422 -73.903076
3                177  Clinton-Washington Avs (C)  40.683260 -73.965836
4                434           3 Av-149 St (2,5)  40.816110 -73.917755
Before cleaning - number of duplicate stations:
52694428

After cleaning - first few rows:
  station_complex_id             station_complex   latitude  longitude
0                209    Far Rockaway-Mott Av (A)  40.603996 -73.755400
1                221      21 St-Queensbridge (F)  40.754204 -73.942830
2                110               Forest Av (M)  40.704422 -73.903076
3                177  Clinton-Washington Avs (C)  40.683260 -73.965836
4                434           3 Av-149 St (2,5)  40.816110 -73.917755

Total number of unique stations: 854

In [11]:
# To see just the unique categories
unique_fares = df['fare_class_category'].unique()
print("Unique fare categories:")
print(unique_fares)

# To see unique categories and their counts
fare_counts = df['fare_class_category'].value_counts()
print("\nFare category counts:")
print(fare_counts)

# For a more detailed summary
fare_summary = df['fare_class_category'].value_counts(normalize=True).reset_index()
fare_summary.columns = ['Category', 'Percentage']
fare_summary['Count'] = df['fare_class_category'].value_counts().values
print("\nDetailed summary:")
print(fare_summary)

# To just get the number of different categories
num_categories = df['fare_class_category'].nunique()
print(f"\nTotal number of different fare categories: {num_categories}")

Unique fare categories:
['Metrocard - Other' 'Metrocard - Fair Fare' 'Metrocard - Full Fare'
 'Metrocard - Seniors & Disability' 'Metrocard - Unlimited 30-Day'
 'Metrocard - Unlimited 7-Day' 'OMNY - Full Fare' 'Metrocard - Students'
 'OMNY - Other' 'OMNY - Seniors & Disability']

Fare category counts:
fare_class_category
OMNY - Full Fare                    7351526
Metrocard - Full Fare               7310318
Metrocard - Unlimited 7-Day         7178211
Metrocard - Unlimited 30-Day        6940959
Metrocard - Other                   6742357
Metrocard - Fair Fare               6392130
Metrocard - Seniors & Disability    5860018
Metrocard - Students                3574148
OMNY - Seniors & Disability         1187924
OMNY - Other                         157691
Name: count, dtype: int64

Detailed summary:
                           Category  Percentage    Count
0                  OMNY - Full Fare    0.139510  7351526
1             Metrocard - Full Fare    0.138728  7310318
2       Metrocard - Unlimited 7-Day    0.136221  7178211
3      Metrocard - Unlimited 30-Day    0.131719  6940959
4                 Metrocard - Other    0.127950  6742357
5             Metrocard - Fair Fare    0.121304  6392130
6  Metrocard - Seniors & Disability    0.111206  5860018
7              Metrocard - Students    0.067827  3574148
8       OMNY - Seniors & Disability    0.022543  1187924
9                      OMNY - Other    0.002993   157691

Total number of different fare categories: 10

In [24]:
fare_categories = pd.DataFrame({
    'fare_category_id': range(1, 11),  # Creates IDs from 1 to 10
    'fare_class_category': [
        'OMNY - Full Fare',
        'Metrocard - Full Fare',
        'Metrocard - Unlimited 7-Day',
        'Metrocard - Unlimited 30-Day',
        'Metrocard - Other',
        'Metrocard - Fair Fare',
        'Metrocard - Seniors & Disability',
        'Metrocard - Students',
        'OMNY - Seniors & Disability',
        'OMNY - Other'
    ]
})

print("Fare Categories Table:")
print(fare_categories)

fare_categories.to_csv('fare_categories.csv', index=False)

Fare Categories Table:
   fare_category_id               fare_class_category
0                 1                  OMNY - Full Fare
1                 2             Metrocard - Full Fare
2                 3       Metrocard - Unlimited 7-Day
3                 4      Metrocard - Unlimited 30-Day
4                 5                 Metrocard - Other
5                 6             Metrocard - Fair Fare
6                 7  Metrocard - Seniors & Disability
7                 8              Metrocard - Students
8                 9       OMNY - Seniors & Disability
9                10                      OMNY - Other

In [13]:
# Create a dictionary mapping from category names to IDs
fare_category_map = {
    'OMNY - Full Fare': 1,
    'Metrocard - Full Fare': 2,
    'Metrocard - Unlimited 7-Day': 3,
    'Metrocard - Unlimited 30-Day': 4,
    'Metrocard - Other': 5,
    'Metrocard - Fair Fare': 6,
    'Metrocard - Seniors & Disability': 7,
    'Metrocard - Students': 8,
    'OMNY - Seniors & Disability': 9,
    'OMNY - Other': 10
}

# Replace the categories with IDs in the main dataframe
df['fare_class_category'] = df['fare_class_category'].map(fare_category_map)

# To verify the change worked
print("First few rows after replacement:")
print(df[['fare_class_category']].head())

# To see value counts of the IDs
print("\nCounts of fare category IDs:")
print(df['fare_class_category'].value_counts().sort_index())

First few rows after replacement:
   fare_class_category
0                    5
1                    6
2                    2
3                    2
4                    7

Counts of fare category IDs:
fare_class_category
1     7351526
2     7310318
3     7178211
4     6940959
5     6742357
6     6392130
7     5860018
8     3574148
9     1187924
10     157691
Name: count, dtype: int64

In [14]:
print(df.head(20))
print(df.tail(20))

          time_id transit_mode station_complex_id  \
0   2024-06-30-10       subway                209
1   2024-06-30-10       subway                221
2   2024-06-30-10       subway                110
3   2024-06-30-10       subway                177
4   2024-06-30-10       subway                434
5   2024-06-30-10       subway                155
6   2024-06-30-10       subway                208
7   2024-06-30-10       subway                210
8   2024-06-30-10       subway                151
9   2024-06-30-10       subway                114
10  2024-06-30-10       subway                119
11  2024-06-30-10       subway                216
12  2024-06-30-10       subway                123
13  2024-06-30-10       subway                141
14  2024-06-30-10       subway                 65
15  2024-06-30-10       subway                624
16  2024-06-30-10       subway                436
17  2024-06-30-10       subway                147
18  2024-06-30-10       subway                628
19  2024-06-30-10       subway                441

                                      station_complex    borough  \
0                            Far Rockaway-Mott Av (A)     Queens
1                              21 St-Queensbridge (F)     Queens
2                                       Forest Av (M)     Queens
3                          Clinton-Washington Avs (C)   Brooklyn
4                                   3 Av-149 St (2,5)      Bronx
5                       Cathedral Pkwy (110 St) (C,B)  Manhattan
6                                     Beach 25 St (A)     Queens
7                                  Norwood-205 St (D)      Bronx
8                                    145 St (A,C,B,D)  Manhattan
9                                      Central Av (M)   Brooklyn
10                                           1 Av (L)  Manhattan
11                                  174-175 Sts (B,D)      Bronx
12                                       Grand St (L)   Brooklyn
13                                        Park Pl (S)   Brooklyn
14                                          79 St (D)   Brooklyn
15  Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortla...  Manhattan
16                                  Harlem-148 St (3)  Manhattan
17                                         175 St (A)  Manhattan
18                        Fulton St (A,C,J,Z,2,3,4,5)  Manhattan
19                  Central Park North (110 St) (2,3)  Manhattan

   payment_method  fare_class_category  ridership  transfers   latitude  \
0       metrocard                    5          5          0  40.603996
1       metrocard                    6         10          2  40.754204
2       metrocard                    2         74          9  40.704422
3       metrocard                    2          6          0  40.683260
4       metrocard                    7          4          1  40.816110
5       metrocard                    4         31          0  40.800602
6       metrocard                    3          3          0  40.600067
7       metrocard                    6         39          6  40.874810
8       metrocard                    2         43          2  40.824783
9       metrocard                    4         17          0  40.697857
10           omny                    1        405          1  40.730953
11      metrocard                    2         45          0  40.845900
12      metrocard                    4          4          0  40.711926
13      metrocard                    3          4          0  40.674770
14      metrocard                    5          2          0  40.613503
15      metrocard                    8          8          0  40.714110
16      metrocard                    6          9          0  40.823880
17           omny                    1          1          0  40.847390
18      metrocard                    2        796          5  40.710373
19      metrocard                    4         35          0  40.799076

    longitude
0  -73.755400
1  -73.942830
2  -73.903076
3  -73.965836
4  -73.917755
5  -73.958160
6  -73.761350
7  -73.878850
8  -73.944214
9  -73.927400
10 -73.981630
11 -73.910130
12 -73.940670
13 -73.957630
14 -74.000610
15 -74.008580
16 -73.936470
17 -73.939705
18 -74.006570
19 -73.951820
                time_id transit_mode station_complex_id  \
52695262  2024-06-30-10       subway                135
52695263  2024-06-30-10       subway                182
52695264  2024-06-30-10       subway                109
52695265  2024-06-30-10       subway                445
52695266  2024-06-30-10       subway                 44
52695267  2024-06-30-10       subway                143
52695268  2024-06-30-10       subway                114
52695269  2024-06-30-10       subway                162
52695270  2024-06-30-10       subway                144
52695271  2024-06-30-10       subway                176
52695272  2024-06-30-10       subway                126
52695273  2024-06-30-10       subway                107
52695274  2024-06-30-10       subway                107
52695275  2024-06-30-10       subway                127
52695276  2024-06-30-10       subway                153
52695277  2024-06-30-10       subway                442
52695278  2024-06-30-10       subway                438
52695279  2024-06-30-10       subway                 17
52695280  2024-06-30-10       subway                630
52695281  2024-06-30-10       subway                152

                   station_complex    borough payment_method  \
52695262            Livonia Av (L)   Brooklyn           omny
52695263              Ralph Av (C)   Brooklyn      metrocard
52695264         Fresh Pond Rd (M)     Queens      metrocard
52695265           Pelham Pkwy (5)      Bronx           omny
52695266           Church Av (B,Q)   Brooklyn           omny
52695267         Inwood-207 St (A)  Manhattan           omny
52695268            Central Av (M)   Brooklyn      metrocard
52695269               50 St (C,E)  Manhattan      metrocard
52695270            Dyckman St (A)  Manhattan      metrocard
52695271          Lafayette Av (C)   Brooklyn      metrocard
52695272          Jefferson St (L)   Brooklyn           omny
52695273            Broad St (J,Z)  Manhattan      metrocard
52695274            Broad St (J,Z)  Manhattan      metrocard
52695275             DeKalb Av (L)   Brooklyn      metrocard
52695276          125 St (A,C,B,D)  Manhattan      metrocard
52695277   Eastchester-Dyre Av (5)      Bronx      metrocard
52695278              135 St (2,3)  Manhattan      metrocard
52695279           Prince St (R,W)  Manhattan      metrocard
52695280  Myrtle-Wyckoff Avs (L,M)   Brooklyn      metrocard
52695281              135 St (C,B)  Manhattan           omny

          fare_class_category  ridership  transfers   latitude  longitude
52695262                    1         25          6  40.664040 -73.900570
52695263                    4          3          0  40.678820 -73.920784
52695264                    5         10          0  40.706184 -73.895874
52695265                    1         17          0  40.858986 -73.855360
52695266                    1        138         12  40.650528 -73.962980
52695267                    1          3          0  40.868073 -73.919900
52695268                    7          5          1  40.697857 -73.927400
52695269                    5         28          0  40.762455 -73.985985
52695270                    7         23          0  40.865490 -73.927270
52695271                    6          5          0  40.686110 -73.973946
52695272                    1        132          3  40.706608 -73.922910
52695273                    5          3          0  40.706474 -74.011055
52695274                    4         97          0  40.706474 -74.011055
52695275                    4         32          0  40.703810 -73.918430
52695276                    2        136         10  40.811108 -73.952350
52695277                    5          1          0  40.888300 -73.830830
52695278                    5          6          0  40.814228 -73.940770
52695279                    5          5          0  40.724330 -73.997700
52695280                    7         21          5  40.699814 -73.911580
52695281                    1         46          0  40.817894 -73.947650

In [39]:
df = pd.read_csv("MTA-filtered_final.csv")

print("\n--- Dataset Info ---")
df.info()

# Display basic statistics of numerical columns
print("\n--- Numerical Statistics ---")
print(df.describe())

# Display the first 20 rows
print("\n--- First Last 20 Rows ---")
print(df.head(20))
print(df.tail(20))

/var/folders/4r/0r_9q19d30d02mbxyh2d_m7w0000gn/T/ipykernel_58655/2852576817.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("MTA-filtered_final.csv")

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52695282 entries, 0 to 52695281
Data columns (total 8 columns):
 #   Column               Dtype
---  ------               -----
 0   time_id              object
 1   transit_mode         object
 2   station_complex_id   object
 3   borough              object
 4   payment_method       object
 5   fare_class_category  int64
 6   ridership            int64
 7   transfers            int64
dtypes: int64(3), object(5)
memory usage: 3.1+ GB

--- Numerical Statistics ---
       fare_class_category     ridership     transfers
count         5.269528e+07  5.269528e+07  5.269528e+07
mean          4.273945e+00  4.430394e+01  1.860902e+00
std           2.289593e+00  1.415217e+02  1.151619e+01
min           1.000000e+00  1.000000e+00  0.000000e+00
25%           2.000000e+00  4.000000e+00  0.000000e+00
50%           4.000000e+00  1.200000e+01  0.000000e+00
75%           6.000000e+00  3.600000e+01  1.000000e+00
max           1.000000e+01  1.403600e+04  1.178000e+03

--- First Last 20 Rows ---
          time_id transit_mode station_complex_id    borough payment_method  \
0   2024-06-30-10       subway                209     Queens      metrocard
1   2024-06-30-10       subway                221     Queens      metrocard
2   2024-06-30-10       subway                110     Queens      metrocard
3   2024-06-30-10       subway                177   Brooklyn      metrocard
4   2024-06-30-10       subway                434      Bronx      metrocard
5   2024-06-30-10       subway                155  Manhattan      metrocard
6   2024-06-30-10       subway                208     Queens      metrocard
7   2024-06-30-10       subway                210      Bronx      metrocard
8   2024-06-30-10       subway                151  Manhattan      metrocard
9   2024-06-30-10       subway                114   Brooklyn      metrocard
10  2024-06-30-10       subway                119  Manhattan           omny
11  2024-06-30-10       subway                216      Bronx      metrocard
12  2024-06-30-10       subway                123   Brooklyn      metrocard
13  2024-06-30-10       subway                141   Brooklyn      metrocard
14  2024-06-30-10       subway                 65   Brooklyn      metrocard
15  2024-06-30-10       subway                624  Manhattan      metrocard
16  2024-06-30-10       subway                436  Manhattan      metrocard
17  2024-06-30-10       subway                147  Manhattan           omny
18  2024-06-30-10       subway                628  Manhattan      metrocard
19  2024-06-30-10       subway                441  Manhattan      metrocard

    fare_class_category  ridership  transfers
0                     5          5          0
1                     6         10          2
2                     2         74          9
3                     2          6          0
4                     7          4          1
5                     4         31          0
6                     3          3          0
7                     6         39          6
8                     2         43          2
9                     4         17          0
10                    1        405          1
11                    2         45          0
12                    4          4          0
13                    3          4          0
14                    5          2          0
15                    8          8          0
16                    6          9          0
17                    1          1          0
18                    2        796          5
19                    4         35          0
                time_id transit_mode station_complex_id    borough  \
52695262  2024-06-30-10       subway                135   Brooklyn
52695263  2024-06-30-10       subway                182   Brooklyn
52695264  2024-06-30-10       subway                109     Queens
52695265  2024-06-30-10       subway                445      Bronx
52695266  2024-06-30-10       subway                 44   Brooklyn
52695267  2024-06-30-10       subway                143  Manhattan
52695268  2024-06-30-10       subway                114   Brooklyn
52695269  2024-06-30-10       subway                162  Manhattan
52695270  2024-06-30-10       subway                144  Manhattan
52695271  2024-06-30-10       subway                176   Brooklyn
52695272  2024-06-30-10       subway                126   Brooklyn
52695273  2024-06-30-10       subway                107  Manhattan
52695274  2024-06-30-10       subway                107  Manhattan
52695275  2024-06-30-10       subway                127   Brooklyn
52695276  2024-06-30-10       subway                153  Manhattan
52695277  2024-06-30-10       subway                442      Bronx
52695278  2024-06-30-10       subway                438  Manhattan
52695279  2024-06-30-10       subway                 17  Manhattan
52695280  2024-06-30-10       subway                630   Brooklyn
52695281  2024-06-30-10       subway                152  Manhattan

         payment_method  fare_class_category  ridership  transfers
52695262           omny                    1         25          6
52695263      metrocard                    4          3          0
52695264      metrocard                    5         10          0
52695265           omny                    1         17          0
52695266           omny                    1        138         12
52695267           omny                    1          3          0
52695268      metrocard                    7          5          1
52695269      metrocard                    5         28          0
52695270      metrocard                    7         23          0
52695271      metrocard                    6          5          0
52695272           omny                    1        132          3
52695273      metrocard                    5          3          0
52695274      metrocard                    4         97          0
52695275      metrocard                    4         32          0
52695276      metrocard                    2        136         10
52695277      metrocard                    5          1          0
52695278      metrocard                    5          6          0
52695279      metrocard                    5          5          0
52695280      metrocard                    7         21          5
52695281           omny                    1         46          0